extends layout
block content
 h1= title
 if (toShow == null)
   h2 No instance to delete
 else
  - let fishid = toShow._id
  - let fish_type = toShow.fish_type
  - let fish_cost = toShow.fish_cost
  - let fish_name = toShow.fish_name

  div
    div.row
     div(class='fishAttr mr-3') fish ID is:
     div #{fishid}
    div.row
     div(class='fishAttr mr-3') fish Type is:
     div #{fish_type}
    div.row
     div(class='fishAttr mr-3') fish Size is:
     div #{fish_name}
    div.row
     div(class='fishAttr mr-3') fish Cost is:
     div #{fish_cost}