extends layout

block content
  h1= title
  -let fish = results
   div(class="container-fluid")
    div(class="row")
      each item,index in fish
        div(class="col-sm-2",onClick=`buy(${index})`)
          p fish_type:  #{item.fish_type}
          p fish_name:  #{item.fish_name}
          p fish_cost:  #{item.fish_cost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }
