extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let fishid = toShow._id
  - let fish_type = toShow.fish_type
  - let fish_cost = toShow.fish_cost
  - let fish_name = toShow.fish_size
  - let actionid = "/resource/fish/" + fishid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='fishAttr mr-3') fish ID is:
    div #{fishid}
   div.row
    div(class='fishAttr mr-3') fish Type is:
    div #{fish_type}
   div.row
    div(class='fishAttr mr-3') fish Size is:
    div #{fish_name}
   div.row
    div(class='fishAttr mr-3') fish Cost is:
    div #{fish_cost}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

 script.
  function cancel() {
   // Go back to the home page for the costume collection
   window.location.href='/fish'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
    window.location.href='/fish'
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
   }